body{
	padding-top: 55px;
	background-color: #DEE4E7;
}

.bg-gris{
	background-color: #DEE4E7;
}

.bg-blanco{
	background-color: #fff;
}

.bg-negro{
	background-color: #222;
}

.bg-negroclaro{
	background-color: #37474f;
}

.bg-twitter{
	color: #21B3DD;
}

.bg-facebook{
	color: #0068FF;
}

.bg-whatsapp{
	color: #009A00;
}

.radius{
	border-radius: 5px;
}